# Node dependencies
node_modules/

# Environment files
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Build outputs
dist/
build/

# temporary files
*.tmp
*.swp
